body {
  background: #141418;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Avenir Next" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.green {
  color: #00ff72;
}

.blue {
  color: #496dff;
}

.name {
  font-size: 400%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.containHeaders {
  top: 50%;
  left: 30%;
  margin-top: 50px;
}

.headers {
  float: left;
  font-size: 150%;
  position: fixed;
  margin-top: 50px;
  margin-left: 150px;
  top: 50%;
  left: 42%;
}

.headers:first-child{
	margin-left: 0;
}
.headers:last-child{
	margin-right: 0;
    float: right;
}

.button{
  color: #ffff66;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 60px;
  text-decoration: none;
}

.name {
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
