html,
body,
/*div,*/
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

li {
    list-style: none
}

body {
    font: normal 75% Arial, Helvetica, sans-serif;
    background: url("../img/darkbg.jpg") no-repeat #181a1c;
    color: #fff
}

body,
html {
    height: 100%
}

@font-face {
    font-family: 'DINPro-Light';
    src: url("fonts/DINPro-Light.eot");
    src: local("â˜º"), url("fonts/DINPro-Light.ttf") format("truetype"), url("fonts/DINPro-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

#wrapper {
    padding: 100px 0 60px 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 100
}

#wrapper.hide {
    display: none
}

#loader {
    width: 100%;
    height: 2000px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0
}

#loader img {
    margin-left: 47%;
    margin-top: 300px
}

h1 {
    background: url("../img/vincent-garreau.png") no-repeat;
    width: 196px;
    height: 25px;
    text-indent: -999999px;
    margin-bottom: 10px
}

h2 {
    background: url("../img/developpeur-front-end.png") no-repeat;
    height: 26px;
    text-indent: -999999px
}

@media (-webkit-min-device-pixel-ratio: 1.75),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    h1 {
        background: url("../img/vincent-garreau-2x.png") no-repeat;
        background-size: cover
    }
    html[lang="fr"] h2 {
        background: url("../img/developpeur-front-end-2x.png") no-repeat;
        background-size: 397px
    }
    html[lang="en"] h2 {
        background: url("../img/en/developpeur-front-end-2x.png") no-repeat;
        background-size: 365px
    }
}

p {
    font-family: 'DINPro-Light', Arial;
    font-size: 1.1em;
    line-height: 1.4em;
    cursor: default
}

a,
a:visited {
    color: #ff0061;
    text-decoration: none;
    color: #ff0061;
    text-decoration: underline;
}

body.pcuser p,
body.pcuser .works li:first-child,
body.pcuser .companies_top div span {
    font-family: Arial !important;
    font-size: 1em !important;
    line-height: 1.6em !important
}

body.loading h2,
body.loading p,
body.loading ul,
body.loading canvas {
    opacity: 0
}

body.loading #particles-js canvas {
    opacity: 0;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7)
}

body h2,
body p,
body ul {
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease
}

.info {
    background: url("../img/uzik.png") no-repeat;
    max-width: 500px;
    height: 68px;
    text-indent: 90px;
    line-height: 68px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px
}

.text {
    max-width: 520px;
    margin: 30px 0;
    color: #fff
}

.words {
    margin-bottom: 30px
}

.words li {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    color: #000;
    display: inline;
    float: left;
    margin: 10px 10px 0 0;
    line-height: 1em;
    cursor: default
}

.works {
    margin-bottom: 20px
}

.works li {
    margin-bottom: 20px;
    cursor: default
}

.works li:first-child {
    margin-bottom: .5em;
    font-family: 'DINPro-Light', Arial;
    font-size: 1.1em
}

.works li:first-child:before {
    display: none
}

.works li>a .list-none:before {
    display: none
}

.works li img {
    vertical-align: middle;
    margin: -1px 0 0 7px
}

.works span {
    display: block
}

.contact {
    clear: left;
    padding: 30px 0;
    max-width: 562px
}

.companies {
    height: 66px;
    margin: 35px 0;
    overflow: hidden;
    position: relative
}

.companies_top {
    height: 100%
}

.companies_top li {
    display: inline-block;
    width: 112px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    margin-right: 12px
}

.companies_top li>div {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    -webkit-transition: top .3s ease;
    transition: top .3s ease
}

.companies_top li>div span {
    line-height: 1.5em;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-family: 'DINPro-Light', Arial;
    font-size: 1.1em
}

.companies_top li>img {
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease
}

.companies_top li:hover>img {
    opacity: 0
}

.companies_top li:hover>div {
    top: 8px
}

.thetwelve img {
    margin-top: 20px
}

.r2d img {
    margin-top: 17px
}

.livestorm img {
    margin-top: 14px
}

.companies_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px
}

.companies_bottom li {
    width: 112px;
    height: 4px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px
}

#anim {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0.1;
    display: none
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

@media only screen and (max-width: 620px) {
    #wrapper {
        padding: 30px;
        text-align: center
    }
    h1 {
        margin: 0 auto 30px auto
    }
    h2 {
        display: none
    }
    p,
    li {
        font-size: 1.2rem
    }
    .companies,
    .works li:first-child {
        display: none
    }
    .works a {
        display: inline-block;
        padding: 4px 6px
    }
}

@media only screen and (min-width: 621px) {
    body.hover #particles-js canvas {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: .5
    }
    .works li {
        margin-bottom: 3px
    }
    .works li>a:first-child:before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #fff;
        vertical-align: middle;
        margin: -4px 7px 0 0;
        opacity: .2;
        -webkit-transition: opacity .2s ease;
        transition: opacity .2s ease
    }
    .works li>a:hover:before {
        opacity: 1
    }
    .works span {
        display: inline-block;
        margin-left: 3px
    }
    .works span:before {
        content: "- "
    }
}

*/ body,
html {
    height: 100%;
    font-family: Pangram Light
}

::-moz-selection {
    color: #fff;
    background: #ea4141
}

::selection {
    color: #fff;
    background: #ea4141
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background-color: #031d33
}

::-webkit-scrollbar-thumb {
    background-color: #ea4141
}

::-webkit-scrollbar-button {
    background-color: #2980b9
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

p {
    font-family: Pangram Light;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5
}

em,
h4,
h5,
h6 {
    font-family: Pangram Regular;
    font-style: normal
}

h6 {
    margin: 0
}

.stop-scrolling {
    height: 100%;
    overflow: hidden
}

.black {
    color: #000!important
}

.red {
    color: #ea4141!important
}

#main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0
}

#bg {
    opacity: .75;
    position: fixed
}

.App {
    overflow-x: hidden;
    position: relative;
}

.App,
.contain {
    text-align: center
}

.contain {
    position: relative;
    left: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #031d33;
    z-index: 100
}

.contain:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 20%;
    left: -20%;
    background-color: #ea4141
}

.updown {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 5em;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: -10px
}

.updown>span {
    position: relative;
    opacity: 1
}

.interaction-dramatic {
    position: relative;
    color: #fff;
    padding-left: .4em;
    padding-right: .4em;
    font-size: 2em;
    font-family: Anurati;
    overflow-y: hidden;
    overflow-x: hidden
}

.interaction-dramatic>span {
    position: relative;
    left: -200%
}

.colorchange,
.colorchange:after,
.colorchange:before {
    background: #fff!important
}

.Landing-container {
    position: relative;
    pointer-events: none;
}

.Landing {
    position: relative;
    overflow-x: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 95vh;
    top: 0;
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    pointer-events: auto
}

.Landing:after {
    z-index: 1;
    position: relative;
    background: url(/assets/hong-kong.png) no-repeat;
    background-size:60%;
    background-position: 100% 102%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.Landing:after,
.Landing:before {
    position: absolute;
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.Landing:before {
    background: url(/assets/hong-kong.png) no-repeat;
    background-size: 60%;
    background-position: 100% 102%;
}

#particles-js canvas{height: 100vh;z-index: 0;opacity:0;-webkit-transform:scale(0.7);-ms-transform:scale(0.7);transform:scale(0.7)}
#particles-js canvas {
    display: block;
    position: absolute;
    top: 0;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
}
#particles-js{width:100%;height:100%;position:fixed;z-index:1;top:0;left:0}
@media only screen and (min-width: 621px){body.hover #particles-js canvas{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8);opacity:.5}

.name {
  font-size: 400%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.descriptor {
  font-family: "Avenir Next" !important;
  position: absolute;
  top: 48%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.imageOpacity:after {
    opacity: 0;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.heading-contain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    padding: 0;
    pointer-events: auto
}

.mihir {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Futura;
    font-size: 5em
}

.mihir>span {
    position: relative;
    left: -200%
}

.mihirgif {
    opacity: 1!important;
    height: 5em;
    width: auto;
    opacity: 1
}

.mihirgif-container {
    opacity: 1!important
}

.subhead {
    font-family: Pangram Regular;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-item-align: center;
    pointer-events: auto;
    z-index: 0
}

.subhead,
.subhead-word {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: left;
    -webkit-align-self: center;
    align-self: center
}

.subhead-word {
    letter-spacing: 1px;
    font-size: .75em;
    height: 1.5em;
    position: relative;
    opacity: .75;
    overflow-y: hidden;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-transition: all .4s cubic-bezier(.215, .61, .355, 1);
    transition: all .4s cubic-bezier(.215, .61, .355, 1);
    -ms-flex-item-align: center;
    color: #ea4141;
    padding-right: .17em
}

.subhead-word>span {
    position: relative;
    opacity: .75;
    top: -100%
}

.landing-description {
    font-family: Pangram Light;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    padding-top: 2em;
    pointer-events: auto
}

.landing-description,
.landing-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: left;
    -webkit-align-self: center;
    align-self: center
}

.landing-line {
    letter-spacing: 1px;
    font-size: 1em;
    height: 1.5em;
    width: 50vw;
    position: relative;
    opacity: .75;
    overflow-y: hidden;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-transition: all .4s cubic-bezier(.215, .61, .355, 1);
    transition: all .4s cubic-bezier(.215, .61, .355, 1);
    -ms-flex-item-align: center
}

.landing-line>span {
    position: relative;
    opacity: .75;
    top: 100%
}

.section-header {
    font-family: Futura;
    color: #fff;
    font-size: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.about-me-container {
    height: auto;
    width: 100%;
    position: relative;
    background: #51b25f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: auto
}

.about-me-container:before {
    content: "";
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/assets/dubai.png) no-repeat;
    background-size: 65%;
    background-position: 0% 99%
}

.about-me-content {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-bottom: 35em
}
.img-circle {
    border-radius: 80%;
    border-color: blue;
    border-style: solid !important;
    float: left;
    margin-top: 90px;
    margin-left: 180px;
    /*display: inline-block;
    position: relative;*/
}

.about-me-text {
  float: right;
  font-size: 130%;
  color:#181a1c;
  margin-top: 100px;
  width: 500px;
  margin-right: 100px;
  height: auto;
}

br {
       line-height: 200%;
    }


.about-me-maincontain {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    width: 80vw;
    height: auto;
    padding-left: 3em;
    padding-right: 3em;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display:table-cell;
}

.org-logos-contain,
.about-me-maincontain {
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;*/
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-direction: normal;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.org-logos-contain {
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.current-work {
    width: 70%;
    height: auto;
    padding: 1em;
    padding-bottom: 3em
}

.current-work,
.org {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center
}

.org {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 9em;
    height: 9em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer
}

.org img {
    position: relative;
    top: 0;
    display: block;
    margin: auto;
    width: 60%;
    height: 60%
}

.org-description,
.org img {
    -webkit-transition: all .4s cubic-bezier(.215, .61, .355, 1);
    transition: all .4s cubic-bezier(.215, .61, .355, 1)
}

.org-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: .7em;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    background-color: #ea4141;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff
}

.org:hover .org-description {
    top: 0
}

.org:hover.org img {
    top: -100%
}

.org:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
}

.landing-projects-container {
    padding-top: 2em;
    width: 100%;
    background-color: #496dff;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    top: -1em
}

.featured-projects-contain,
.landing-projects-container {
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    pointer-events: auto;
    -webkit-box-direction: normal
}

.featured-projects-contain {
    width: 100vw;
    padding-bottom: 3em;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.featured-project {
    position: relative;
    width: auto;
    height: auto;
    background-color: #fff;
    margin: 2em;
    box-sizing: border-box;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .15);
    overflow: hidden;
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .5s cubic-bezier(.215, .61, .355, 1);
    transition: all .5s cubic-bezier(.215, .61, .355, 1)
}

.projImg {
    width: 30em;
    height: auto
}

.projDesc {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 2em;
    background-color: rgba(3, 29, 51, .95);
    -webkit-transition: all .5s cubic-bezier(.215, .61, .355, 1);
    transition: all .5s cubic-bezier(.215, .61, .355, 1)
}

.featured-project:hover,
.projDesc {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.featured-project:hover .projDesc {
    top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.about-container {
    height: auto;
    width: 100%;
    top: -1em;
    bottom: 0;
    position: relative;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    pointer-events: auto
}

.about-container:before {
    bottom: 0;
    background: url(/static/media/project_element.b85909d1.svg) no-repeat;
    background-size: 30%;
    background-position: -5% -2%;
    pointer-events: auto
}

.about-container:after,
.about-container:before {
    content: "";
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.about-container:after {
    bottom: -1em;
    background: url(/static/media/about_element.b7df4bcf.svg) no-repeat;
    background-size: 50%;
    background-position: 110% 100%;
    overflow-y: visible;
    pointer-events: none
}

.about-content {
    width: 80vw;
    padding: 4em 6em 6em;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.about-content,
.social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.social {
    padding-top: 1em;
    padding-bottom: 3em;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 2em;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.social i {
    position: relative;
    color: #031d33;
    top: 0;
    -webkit-transition: all .5s cubic-bezier(.215, .61, .355, 1);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    padding: .5em .7em
}

i:hover {
    top: -10%;
    color: #ea4141
}

.reads-container {
    position: absolute;
    overflow-x: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0;
    width: 98%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    pointer-events: auto;
    background-color: #fff
}

.reads-content {
    position: relative;
    padding: 10em 25% 10em 20%;
    text-align: left
}

.reads-content h6 {
    font-family: Adobe Garamond;
    font-weight: 400;
    font-size: 1.2em
}

.reads-content h2 {
    font-family: Adobe Garamond;
    font-weight: bolder;
    font-size: 1.3em
}

.reads-content p {
    text-align: left;
    line-height: 150%
}

.reads-content p,
.write-link {
    font-family: Adobe Garamond;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2em
}

.write-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: bolder;
    text-decoration: underline
}

.write-link span {
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer
}

.write-section {
    padding: 0 0 3em
}

.write-section-title {
    padding: 2em 0 0;
    font-weight: bolder!important;
    font-size: 1.7em!important
}

.small {
    font-size: .7em
}

.gallery-description {
    font-size: 1.7em
}

.gallery-description,
.gallery-description2 {
    font-family: Pangram Regular;
    text-align: center;
    padding: 4em
}

.gallery-description2 {
    font-size: 1em
}

[data-fluffy-container] {
    height: auto;
    position: relative
}

.fluffimg {
    height: 20em
}

.projects-container {
    height: auto;
    padding-top: 2em;
    padding-bottom: 4em;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    pointer-events: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box
}

.projects-container .section-header,
.projects-container h4 {
    color: #000
}

@media(max-width:486px) {
    #bg {
        height: 100%;
        width: 100%
    }
    .Landing {
        top: -5em;
        margin-bottom: -5em
    }
    .landing-description {
        -ms-flex-align: center;
        -ms-flex-pack: center;
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }
    .heading-contain,
    .landing-description {
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center
    }
    .heading-contain {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .mihir {
        font-size: 3em
    }
    .subhead {
        width: 100vw;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .landing-line {
        width: 100vw;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .Landing:after {
        background-size: 65%;
        background-position: 50% 105%;
        opacity: .1
    }
    .current-work {
        width: 80vw
    }
    .org-logos-contain {
        width: 85vw;
        padding-left: 0;
        padding-right: 0;
        margin: 0
    }
    .org {
        width: 7em;
        height: 7em
    }
    .works-content {
        padding-bottom: 10em
    }
    .reads-content {
        padding: 10em 10%
    }
    .works-container:before {
        background-position: 0 100%
    }
    .featured-projects-contain {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .projImg {
        width: 20em;
        height: auto
    }
    .projDesc p {
        font-size: .7em
    }
    .about-content {
        width: 100vw;
        padding: 3em 1.8em
    }
    .about-container:before {
        background-size: 70%;
        background-position: 0 -1%
    }
    .about-container:after {
        background-size: 70%
    }
}

@media(min-width:486px) and (max-width:768px) {
    #bg {
        height: 100%;
        width: 100%
    }
    .Landing {
        top: -5em;
        margin-bottom: -5em
    }
    .Landing:after {
        background-size: 60%;
        background-position: 100% 100%
    }
    .workmain-contain {
        width: 100vw
    }
    .featured-projects-contain {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .about-content {
        width: 100vw;
        padding: 3em 1.8em
    }
}

@media(min-width:768px) and (max-width:1024px) {
    #bg {
        height: 100%;
        width: 100%
    }
    .Landing {
        top: -5em;
        margin-bottom: -5em
    }
    .Landing:after {
        background-size: 60%;
        background-position: 100% 100%
    }
    .workmain-contain {
        width: 100vw
    }
    .featured-projects-contain {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media(min-width:1024px) {
    #bg {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%
    }
    .heading-contain {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -ms-flex-pack: left;
        justify-content: left;
        text-align: left;
        height: auto;
        height: 4em
    }
    .mihirgif-container {
        position: relative;
        left: -9%
    }
}

.menu {
    position: absolute;
    overflow-x: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    top: 0;
    width: 100%;
    pointer-events: auto
}

.menu-button {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    top: 3em;
    right: 3em;
    height: 10vh;
    z-index: 5;
    opacity: 0
}

.menu-button,
.menu-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    overflow-x: hidden;
    position: fixed
}

.menu-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 4;
    background-color: #2f363b
}

.menu-item,
.menu-overlay {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: hidden
}

.menu-item {
    height: 2em;
    font-family: Futura;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 5px;
    position: relative;
    opacity: .75;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    left: 0
}

.menu-item,
.menu-item>span:before {
    -webkit-transition: all .4s cubic-bezier(.215, .61, .355, 1);
    transition: all .4s cubic-bezier(.215, .61, .355, 1)
}

.menu-item>span:before {
    content: "";
    background: #fff;
    width: 0;
    height: .2em;
    position: absolute;
    top: 30%;
    left: -1.5em
}

.menu-item>span {
    position: relative;
    opacity: .75;
    top: 100%
}

.menu-item:hover.menu-item>span:before {
    width: 1em
}

.menu-item:hover {
    left: 40px;
    opacity: 1;
    cursor: pointer
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}


/*# sourceMappingURL=main.2af5dfc6.css.map*/
